.contHome {
    height: 600px;
}

.ternary-system {
    position: absolute;
    bottom: 0;
    left: 82vw;
    transform: translateX(-100%);
}

.sun {
    position: relative;
    border-radius: 50%;
    background: #00000052;
}

.sun.primary {
    position: absolute;
    top: 15vw;
    left: 5vw;
    width: 1rem;
    height: 1rem;
}

.sun.secondary {
    position: absolute;
    top: 5vw;
    left: 11vw;
    width: 16vw;
    max-width: 6rem;
    height: 16vw;
    max-height: 6rem;
}

.sun.ternary {
    right: 0;
    transform: translateX(10.8rem);
    width: 80vw;
    max-width: 800px;
    height: 80vw;
    max-height: 800px;
}

.pendulums {
    position: absolute;
    width: 50px;
    height: 200px;
    right: 35vw;
    top: -120px;
    perspective: 400px;
}

.pendulum {
    position: absolute;
    width: 50px;
    height: 200px;
    right: 44%;
    top: 0;
    left: 50%;
    transform: translateZ(-300px) translateX(-50%);
}

.pendulum.shadow {
    top: 263%;
    left: -65%;
    bottom: 0;
    transform-origin: 50% 0;
    transform: translateX(-50%) scaleY(-1) scaleZ(2) rotateY(-30deg) rotateX(-75deg) translateZ(300px);
}

.pendulum .bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: block;
    width: 20px;
    height: 200px;
    background: #333;
}

.pendulum .string {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 150px;
    background: #333;
}

.pendulum .weight {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #333;
}

.pendulum .motion {
    position: absolute;
    height: 200px;
    width: 50px;
    transform-origin: 50% 10px;
    animation: swing 1600ms infinite ease-in-out;
}

.text1 {
    position: absolute;
    width: auto;
    right: 18vw;
    bottom: calc(63vh);
    transform: translateY(50%);
    font-size: 2.6rem;
}

.title1 {
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.3em;
    margin: 0;
    color: rgb(255, 255, 255);
}

.title1 strong {
    display: block;
    font-weight: 700;
    font-size: 2em;
    line-height: 1em;
}

.title1 em {
    font-style: normal;
    font-weight: 400;
    font-size: 1.899em;
    line-height: 1em;
    letter-spacing: 0.29em;
    margin-left: 0.25em;
}

p1 {
    position: absolute;
    left: 50%;
    transform: translateX(3.2em);
    font-size: 0.6em;
    color: rgb(255, 255, 255);
    margin: 0 17px;
    padding: 0;
    text-align: right;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
