.NavbarItems {
    background: #132c33;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.logo {
    height: 100%;
    justify-self: start;
    cursor: pointer;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
    margin-right: 0.8rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    padding: 0.5rem, 1rem;
}

.nav-links:hover {
    background-color: #51c4d3;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 900px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        z-index: 9;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        background: #000000;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover {
        background-color: linear-gradient(90deg, rgb(2, 0, 15) 0%, rgb(88, 3, 3) 100%);
        border-radius: 0;
    }

    .logo {
        /* visibility: hidden; */
        margin-left: auto;
        margin-right: auto;
        height: 100%;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #51c4d3;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }
    .nav-links-mobile:hover {
        background: #fff;
        color: #51c4d3;
        transition: 250ms;
    }
    .daniels {
        display: none;
    }
    .desc {
        margin-left: 25px;
        margin-right: 25px;
    }
}
