:root {
    --primary: #51c4d3;
}

.btn {
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    color: #ffffff;
    background-color: #51c4d3;
}

.btn--primary {
    background-color: var(--primary);
}

.btn--medium {
    border-radius: 4px;
    font-size: 18px;
}
.btn--large {
    border-radius: 4px;
    font-size: 20px;
}
