*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    max-width: 100%;
}
.main{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/381/519/745/abstract-waveforms-red-black-wallpaper-preview.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    position:static;
    background-color: rgb(27, 28, 29);
    align-items: center;
    align-self: center;
    min-height: 400px;
    justify-content: center;
    justify-self: center;
    padding-top: 20px;
    padding-bottom: 0;
}
.mainPage{
}