*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    max-width: 100%;
}
.main{
    background-image: url("https://cdn.pixabay.com/photo/2016/07/29/15/30/pokemon-1553995_1280.jpg");
    display: flex;
    position:static;
    background-color: rgb(27, 28, 29);
    align-items: center;
    align-self: center;
    min-height: 400px;
    justify-content: center;
    justify-self: center;
    padding-top: 20px;
    padding-bottom: 0;
}
.mainPage{
}